header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	height: 20vh;
	padding: 0px 20px;
	font-size: 22px;
}

.headerImage {
	width: 300px;
	position: absolute;
	top: -10px;
	left: 0px;
}

.headerNav {
	display: flex;
	align-items: center;
	gap: 20px;
}

.activeLink,
.inactiveLink {
	padding: 5px 10px;
	border-radius: 5px;
}

.activeLink {
	background-color: #f52549;
	color: white;
}

.homeContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 80vh;
	padding: 30px;
}

.gameCards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	gap: 30px;
	width: 100%;
}

.gameCard {
	height: 350px;
	position: relative;
	border: 3px solid #f52549;
	border-radius: 5px;
}

.cardDescription {
	font-family: 'Fredoka', sans-serif;
	font-size: 28px;
	text-align: left;
}

.gameCardImageContainer {
	width: 100%;
	height: 100%;
}

.gameCardImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
	border-radius: 5px;
}

.gameCard :hover {
	filter: drop-shadow(0 0 0.2em #f52549);
}

.gameContainer {
	padding: 30px;
}

.imageContainer {
	display: inline-block;
	position: relative;
}

.gameImage {
	border-radius: 10px;
}

.targetingBoxContainer {
	flex-direction: column;
	align-items: center;
	position: absolute;
	width: 60px;
	z-index: 10;
}

.targetingBox {
	width: 60px;
	height: 60px;
	border: 3px solid crimson;
	border-radius: 5px;
}

.characters {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding: 20px;
	border: 2px solid white;
	border-radius: 10px;
	background-color: crimson;
}

.characters > button {
	width: 100%;
	padding: 0.2em 1.2em;
	border: 2px solid white;
	background-color: crimson;
	color: white;
}

.characters > button:hover {
	border-color: crimson;
	background-color: white;
	color: crimson;
}

.foundCharacterCircle {
	width: 60px;
	height: 60px;
	position: absolute;
	border: 5px solid mediumseagreen;
	border-radius: 50px;
}
